<div class="bg-gradient-to-tr from-pink-50 to-blue-200 min-h-screen">
  <app-navbar></app-navbar>
  <div class="relative px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-lg md:px-24 lg:px-8 lg:py-10">
    <div class="flex flex-col items-center justify-center max-w-xl my-4 sm:my-8 md:mx-auto lg:max-w-3xl mx-4 sm:mx-8">
      <h2 class="mb-3 sm:mb-4 font-sans text-2xl font-bold leading-none tracking-tight text-gray-800 sm:text-3xl md:text-4xl md:mx-auto">
        QR Code
      </h2>
      <p class="mb-3 sm:mb-4 text-base font-medium font-sans leading-relaxed text-gray-700 sm:text-lg sm:leading-7">
        Generate various QR code to <span class="text-pink-100 bg-pink-800 px-1">Simplify</span> for sharing with others.
      </p>
    </div>
    <div class="flex flex-col items-center justify-center max-w-xl my-4 sm:my-8 md:mx-auto lg:max-w-3xl mx-4 sm:mx-8">
      <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-6">
        @for(qrcodeOption of qrcodeOptions; track qrcodeOption){
          <div class="flex flex-col items-center justify-center mb-2 sm:mb-4">
            <button 
              class="py-2 px-2 sm:py-4 sm:px-4  rounded-xl hover:bg-pink-100 hover:bg-opacity-50"
              (click)="selectedOption = qrcodeOption.option"
            >
              @if(qrcodeOption.icon === faLink || qrcodeOption.icon === faWifi){
                <fa-icon [icon]="qrcodeOption.icon" class="inline-flex bg-gray-100 rounded-full w-10 sm:w-12 h-10 sm:h-12 px-2 sm:px-2.5 py-2.5 sm:py-3 text-xl sm:text-2xl text-pink-700"></fa-icon>                
              }
              @else if (qrcodeOption.icon === faEnvelope) {
                <fa-icon [icon]="qrcodeOption.icon" class="inline-flex bg-gray-100 rounded-full w-10 sm:w-12 h-10 sm:h-12 px-2.5 sm:px-3 py-2.5 sm:py-3 text-xl sm:text-2xl text-pink-700"></fa-icon>
              }
              @else {
                <fa-icon [icon]="qrcodeOption.icon" class="inline-flex bg-gray-100 rounded-full w-10 sm:w-12 h-10 sm:h-12 px-3 sm:px-3.5 py-2.5 sm:py-3 text-xl sm:text-2xl text-pink-700"></fa-icon>

              }
              <p class="mt-2 font-medium font-sans text-sm sm:text-base text-gray-800">
                {{ qrcodeOption.name }}
              </p>
              @if(selectedOption === qrcodeOption.option){
                <div class="h-1 sm:h-1.5 mt-2 bg-pink-800 rounded-full"></div>
              }
              </button>
          </div>
        }
      </div>
    </div>
      @switch(selectedOption) {
        @case('text') {
          <app-form-text [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-text>
        }
        @case('url') {
          <app-form-url [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-url>
        }
        @case('email') {
          <app-form-email [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-email>
        }
        @case('whatsapp') {
          <app-form-whatsapp [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-whatsapp>
        }
        @case('wifi') {
          <app-form-wifi [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-wifi>
        }
        @case('social-media') {
          <app-form-social-media [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-social-media>
        }
      }
    @if(qrcode) {
      <div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-gradient-to-tr w-5/6 sm:w-3/4 from-pink-50 to-blue-200 rounded-2xl py-4 px-5 sm:py-8 sm:px-10 border-2 border-gray-100">
          <div class="flex justify-end mb-4">
            <button (click)="closeModal()" class="inline-flex items-center justify-center">
              <fa-icon [icon]="faTimes" class="text-xl sm:text-2xl text-pink-800 hover:text-pink-900"></fa-icon>
            </button>
          </div>
          <div class="flex flex-col justify-center items-center">
            <img 
              class="shadow-lg rounded-3xl"
              src="{{ qrcode }}"
              alt=""
            >          
            <button (click)="downloadQrcode()" class="mt-4 sm:mt-8 bg-pink-700 text-white text-sm sm:text-base rounded-xl px-4 md:px-6 py-2 md:py-2.5 font-medium font-sans hover:bg-pink-800 hover:text-pink-100">
              Download
            </button>
          </div>
        </div>        
      </div>        
    }
  </div>
  <app-footer></app-footer>
</div>