<div class="bg-gradient-to-tr from-pink-50 to-blue-200 min-h-screen">
  <app-navbar></app-navbar>
  <div class="relative px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-lg md:px-24 lg:px-8 lg:py-10">
    <div class="flex flex-col items-center justify-center max-w-xl my-4 sm:my-8 md:mx-auto lg:max-w-3xl mx-4 sm:mx-8">
      <h2 class="mb-3 sm:mb-4 font-sans text-2xl font-bold leading-none tracking-tight text-gray-800 sm:text-3xl md:text-4xl md:mx-auto">
        QR Code
      </h2>
      <p class="mb-3 sm:mb-4 text-base font-medium font-sans leading-relaxed text-gray-700 sm:text-lg sm:leading-7">
        Generate various QR code to <span class="text-pink-100 bg-pink-800 px-1">Simplify</span> for sharing with others.
      </p>
    </div>
    <div class="flex flex-col items-center justify-center max-w-xl my-6 sm:my-8 md:mx-auto lg:max-w-3xl mx-6 sm:mx-8">
      <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 gap-5 sm:gap-6">
        @for(qrcodeOption of qrcodeOptions; track qrcodeOption){
        <button 
            class="bg-gradient-to-tr from-pink-50 to-blue-100 w-24 sm:w-28 border-2 border-gray-100 py-2 px-2 sm:py-3 sm:px-3 rounded-xl"
            [ngClass]="{'border-pink-300': selectedOption === qrcodeOption.option}"
            (click)="selectedOption = qrcodeOption.option"
          >
            @if(qrcodeOption.icon === faLink || qrcodeOption.icon === faWifi){
              <fa-icon 
                [icon]="qrcodeOption.icon"
                [ngClass]="{'bg-pink-50 text-pink-700': selectedOption === qrcodeOption.option, 'bg-gray-100 text-gray-800': selectedOption !== qrcodeOption.option}"
                class="inline-flex rounded-full w-10 sm:w-12 h-10 sm:h-12 px-2 sm:px-2.5 py-2.5 sm:py-3 text-xl sm:text-2xl"
              ></fa-icon>                
            }
            @else if (qrcodeOption.icon === faEnvelope) {
              <fa-icon 
                [icon]="qrcodeOption.icon" 
                [ngClass]="{'bg-pink-50 text-pink-700': selectedOption === qrcodeOption.option, 'bg-gray-100 text-gray-800': selectedOption !== qrcodeOption.option}"
                class="inline-flex rounded-full w-10 sm:w-12 h-10 sm:h-12 px-2.5 sm:px-3 py-2.5 sm:py-3 text-xl sm:text-2xl"
              ></fa-icon>
            }
            @else {
              <fa-icon 
                [icon]="qrcodeOption.icon"
                [ngClass]="{'bg-pink-50 text-pink-700': selectedOption === qrcodeOption.option, 'bg-gray-100 text-gray-800': selectedOption !== qrcodeOption.option}"
                class="inline-flex rounded-full w-10 sm:w-12 h-10 sm:h-12 px-3 sm:px-3.5 py-2.5 sm:py-3 text-xl sm:text-2xl"
              ></fa-icon>
            }
            <p [ngClass]="{'text-pink-700': selectedOption === qrcodeOption.option, 'text-gray-800': selectedOption !== qrcodeOption.option}" class="mt-2 font-medium font-sans text-sm sm:text-base text-gray-800">
              {{ qrcodeOption.name }}
            </p>
          </button>
        }
      </div>
    </div>
      @switch(selectedOption) {
        @case('text') {
          <app-form-text [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-text>
        }
        @case('url') {
          <app-form-url [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-url>
        }
        @case('email') {
          <app-form-email [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-email>
        }
        @case('whatsapp') {
          <app-form-whatsapp [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-whatsapp>
        }
        @case('wifi') {
          <app-form-wifi [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-wifi>
        }
        @case('social-media') {
          <app-form-social-media [selectedOption]="selectedOption" (qrcode)="handleQrcode($event)"></app-form-social-media>
        }
      }
    @if(qrcode) {
      <app-modal-qrcode 
        [qrcode]="qrcode"
        (closeModalEvent)="closeModal()"
        (downloadQrcodeEvent)="downloadQrcode()"
      ></app-modal-qrcode>
    }
  </div>
  <app-footer></app-footer>
</div>