<div class="bg-gradient-to-tr from-pink-50 to-blue-200 min-h-screen">
  <app-sidebar></app-sidebar>
  <div class="sm:ml-48 md:ml-64">
    <div class="relative px-4 py-5 mx-auto w-full sm:min-w-xl md:max-w-screen-lg lg:px-8 lg:py-10">
      <div class="bg-gray-100 border border-gray-300 rounded-2xl">
        @if(shortenUrlHistory){
          <p class="px-3 sm:px-6 py-1.5 sm:py-3 text-center font-sans text-gray-800">
            No data found
          </p>
        }
        <div class="flex flex-row items-center justify-between p-4 sm:p-6">
        </div>
        <div class="overflow-x-auto">
          <table class="w-full">
            <thead class="bg-gray-200 text-sm sm:text-base text-gray-800 border-y border-gray-300">
              <tr>
                <th class="px-3 sm:px-6 py-1.5 sm:py-3 text-center font-medium font-sans tracking-wider">
                  Url Origin
                </th>
                <th class="px-3 sm:px-6 py-1.5 sm:py-3 text-center font-medium font-sans tracking-wider">
                  Url Id
                </th>
                <th class="px-3 sm:px-6 py-1.5 sm:py-3 text-center font-medium font-sans tracking-wider">
                  Url Short
                </th>
                <th class="px-3 sm:px-6 py-1.5 sm:py-3 text-center font-medium font-sans tracking-wider">
                  Created At
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-300 text-sm sm:text-base">
              @if(isLoading){
                <tr>
                  <td class="px-3 sm:px-6 py-1.5 sm:py-3">
                    <div class="h-2 bg-gray-200 rounded-full animate-pulse"></div>
                  </td>
                  <td class="px-3 sm:px-6 py-1.5 sm:py-3">
                    <div class="h-2 bg-gray-200 rounded-full animate-pulse"></div>                    
                  </td>
                  <td class="px-3 sm:px-6 py-1.5 sm:py-3">
                    <div class="h-2 bg-gray-200 rounded-full animate-pulse"></div>
                  </td>
                  <td class="px-3 sm:px-6 py-1.5 sm:py-3">
                    <div class="h-2 bg-gray-200 rounded-full animate-pulse"></div>
                  </td>
                </tr>  
              }
              @for(shortenUrlHistories of shortenUrlHistory; track shortenUrlHistories){
                <tr>
                  <td class="px-3 sm:px-6 py-1.5 sm:py-3 text-left font-sans text-gray-800">
                    {{ shortenUrlHistories.urlOrigin }}
                  </td>
                  <td class="px-3 sm:px-6 py-1.5 sm:py-3 text-left font-sans text-gray-800">
                    {{ shortenUrlHistories.urlId }}
                  </td>
                  <td class="px-3 sm:px-6 py-1.5 sm:py-3 text-left font-sans text-gray-800">
                    {{ shortenUrlHistories.urlShort }}
                  </td>
                  <td class="px-3 sm:px-6 py-1.5 sm:py-3 text-left font-sans text-gray-800">
                    {{ formatDate(shortenUrlHistories.createdAt) }}
                  </td>
                </tr>  
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>