<div class="bg-gradient-to-tr from-pink-50 to-blue-200 min-h-screen">
  <app-navbar></app-navbar>
  <div class="relative px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-lg md:px-24 lg:px-8 lg:py-10">
    <div class="flex flex-col items-center justify-center max-w-xl my-4 sm:my-8 md:mx-auto lg:max-w-3xl mx-4 sm:mx-8">
      <h2 class="mb-3 sm:mb-4 font-sans text-2xl font-bold leading-none tracking-tight text-gray-800 sm:text-3xl md:text-4xl md:mx-auto">
        URL Shortener
      </h2>
      <p class="mb-3 sm:mb-4 text-base font-medium font-sans leading-relaxed text-gray-700 sm:text-lg sm:leading-7">
        <span class="text-blue-100 bg-blue-800 px-1">Simplify</span> your long url into a short link
      </p>
    </div>
    <form [formGroup]="shotenUrlForm" (ngSubmit)="onSubmit()" class="bg-gradient-to-tr from-pink-50 to-blue-200 my-4 sm:my-8 rounded-2xl py-4 px-5 sm:py-8 sm:px-10 border-2 border-gray-100">
      @if(errorMessage) {
        <app-alert-error 
          [errorMessage]="errorMessage" 
          (clearMessage)="clearMessage()"
        ></app-alert-error>
      }
      <div class="mt-3 sm:mt-4 space-y-1 sm:space-y-2">
        <label for="urlOrigin" class="font-medium font-sans text-sm sm:text-base text-gray-800">
          Paste your long url
        </label>
        <input 
          type="url" 
          id="urOriginl" 
          name="urlOrigin"
          formControlName="urlOrigin"
          placeholder="https://www.example.com"
          required
          class="w-full px-2.5 sm:px-3 py-1.5 sm:py-2 border border-gray-300 font-sans text-sm text-gray-800 sm:text-base rounded-xl focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-300 placeholder:text-gray-300 focus:placeholder:text-gray-100"
        >
        @if(shotenUrlForm.get('urlOrigin')?.invalid && shotenUrlForm.get('urlOrigin')?.touched) {
          @if(shotenUrlForm.get('urlOrigin')?.errors?.['required']) {
            <span class="text-red-600 ml-1 text-xs sm:text-sm">URL is required</span>
          } @else if(shotenUrlForm.get('urlOrigin')?.errors?.['url']) {
            <span class="text-red-600 ml-1 text-xs sm:text-sm">Invalid URL format</span>
          }
        }
      </div>
      <div class="mt-3 sm:mt-4 space-y-1 sm:space-y-2">
        <label for="id" class="font-medium font-sans text-sm sm:text-base text-gray-800">
          Custom ID <span class="text-blue-700">(Optional)</span>
        </label>
        <input 
          type="text" 
          id="id" 
          name="id"
          formControlName="id"
          placeholder="abc123"
          class="w-full px-2.5 sm:px-3 py-1.5 sm:py-2 border border-gray-300 font-sans text-sm text-gray-800 sm:text-base rounded-xl focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-300"
        >
      </div>
      <div class="flex justify-end mt-6">
        <button type="submit" [disabled]="!shotenUrlForm.valid" disabled class="bg-blue-700 text-white text-sm sm:text-base rounded-xl px-6 md:px-8 py-2 md:py-2.5 font-medium font-sans hover:bg-blue-800 hover:text-blue-100">
          @if(isLoading) {
            <app-loading-button></app-loading-button>
          } @else {
            Generate
          }
        </button>  
      </div>
    </form>
    @if(urlShort) {
      <div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-gradient-to-tr w-5/6 sm:w-3/4 from-pink-50 to-blue-200 rounded-2xl py-4 px-5 sm:py-8 sm:px-10 border-2 border-gray-100">
          <div class="flex justify-end mb-4">
            <button (click)="closeModal()" class="inline-flex items-center justify-center">
              <fa-icon [icon]="faTimes" class="text-xl sm:text-2xl text-pink-800 hover:text-pink-900"></fa-icon>
            </button>
          </div>
          <div class="flex flex-row items-center justify-between space-x-4">
            <div class="flex h-9 sm:h-12 bg-white border-2 border-blue-200 w-full rounded-xl">
              <p class="inline-flex px-2.5 sm:px-3 py-1.5 sm:py-2 text-sm sm:text-base font-medium font-sans leading-relaxed text-gray-800 sm:leading-7" id="qrcodeText">
              {{ urlShort }}
              </p>
            </div>
            <button (click)="copyToClipboard()" class="inline-flex bg-blue-700 text-white text-sm sm:text-base rounded-xl px-4 md:px-6 py-2 md:py-2.5 font-medium font-sans hover:bg-blue-800 hover:text-blue-100">
              Copy
            </button>
          </div>
        </div>
      </div>
    }
  </div>
  <app-footer></app-footer>
</div>